<mat-tab-group>
  <mat-tab label="Medication_Statement"> <app-medicationstatement></app-medicationstatement> </mat-tab>
  <mat-tab label="Encounter"> <app-encounter></app-encounter> </mat-tab>
  <mat-tab label="Condition"> <app-condition></app-condition> </mat-tab>
  <mat-tab label="Procedure"> <app-procedure></app-procedure> </mat-tab>
  <mat-tab label="Appointment"> <app-appointment></app-appointment> </mat-tab>
  <mat-tab label="Allergyintolerance"> <app-allergyintolerance></app-allergyintolerance> </mat-tab>
</mat-tab-group>