<div class="mydiv">
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="clinicalStatus">
      <th mat-header-cell *matHeaderCellDef> clinicalStatus </th>
      <td mat-cell *matCellDef="let element"> {{element.clinicalStatus}} </td>
    </ng-container>
    <ng-container matColumnDef="display">
      <th mat-header-cell *matHeaderCellDef> display </th>
      <td mat-cell *matCellDef="let element"> {{element.display}} </td>
    </ng-container>
    <ng-container matColumnDef="reaction">
      <th mat-header-cell *matHeaderCellDef> reaction </th>
      <td mat-cell *matCellDef="let element"> {{element.reaction}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>